[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/zalgebra"]
	path = external/zalgebra
	url = https://github.com/kooparse/zalgebra
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
